<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nelson.aparecido.estudaki">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMinhaIdeia">
        <activity android:name="nelson.aparecido.estudaki.TelaCadastroLinkAula"> </activity>
        <activity android:name="nelson.aparecido.estudaki.UploadMaterial"> </activity>
        <activity android:name="nelson.aparecido.estudaki.UploadAtividades"> </activity>
        <activity android:name="nelson.aparecido.estudaki.NotasActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.ChatActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.DescricaoAtividadeActivity">android:permission.INTERNET</activity>
        <activity android:name="nelson.aparecido.estudaki.DescricaoMaterialActivity">android:permission.INTERNET</activity>
        <activity android:name="nelson.aparecido.estudaki.MateriaAtividadeAulaActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.MateriaMaterialAulaActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.MateriaProvaActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.PesquisaActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.CalendarioActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.ContatosActivity"></activity>
        <activity android:name="nelson.aparecido.estudaki.PerfilActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.MateriaListaAulasDisponiveisActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.MateriaMenuActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.MateriasActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.AulasActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.LoginActivity"> </activity>
        <activity android:name="nelson.aparecido.estudaki.MainActivity"></activity>
        <activity android:name="nelson.aparecido.estudaki.MeAjudaActivity"></activity>
        <activity android:name="nelson.aparecido.estudaki.SplahActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>